:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(
		120deg,
		#eece13,
		#b210ff
	);

/* 图标背景 */
--vp-home-hero-image-background-image: -webkit-linear-gradient(
		100deg,
		#e83d12 10%,
		#eebf32 100%
	);

	--vp-home-hero-image-filter: blur(150px);
}

